// COLORS
// $primary-color: #53abee;
// $secondary-color: #0b69b1;

// $primary-color: #DAA03DFF;
// $secondary-color: #755139FF;

// Yellow
// $primary-color: #dccd91;
// $secondary-color: #a7936b;

// Yellow
$primary-color: #dccd91;
$secondary-color: #8e8257;

// $primary-color: #4c85be;
// $secondary-color: #1d548a;

// $primary-color: #57A757;
// $secondary-color: #57A757;

$white-color: #fff;

$dark-grey: #1E1E1E;//#333333;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
